<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/valentine-s-heart/128/__heart_cute_emoji-512.png">
    <title>Pickup4You - By Nischal</title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

        .title {
            font-family: 'Lobster', cursive;
        }

        .pickup-line {
            font-family: 'Roboto Slab', serif;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body class="text-dark" style="background-color: #FFF8EA;">
    
    
    <div class="container ">

        <div style="margin-top: 30vh;">
            <h1 class="text-nowrap title text-center">😉PickupLineZz 
                4 Yuh😉</h1>
            
            <div class="p-3 mb-5 rounded mt-5 shadow-lg border border-dark border-5" style="background-color: #E0144C;">
                <h2 class="p-2 text-center pickup-line">{{ pickupLine }}</h2>
            </div>

            <div class="d-flex justify-content-evenly">
                <h5 class="text-start">🔃Reload The Page to get a New Pickup Line🔃</h5>
                <h4 class="text-end">Built with 💖 By Nischal</h4>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>